<div class="wrapper">
  <nav id="sidebar">
    <ul class="list-unstyled components">
      <li>
        <a href="/dashboard">Dashboard</a>
      </li>

      <li>
        <a href="/update">Update</a>
      </li>

      <li>
        <a href="/product/new">Add New Product</a>
      </li>
      <li>
        <a href="/product/search">Search Product</a>
      </li>

      <li>
        <a
          href="#walmartSubmenu"
          data-toggle="collapse"
          aria-expanded="false"
          class="dropdown-toggle"
          >Rake</a
        >
        <ul class="collapse list-unstyled" id="walmartSubmenu">
          <li>
            <a href="/products/instock">In Stock</a>
          </li>

          <li>
            <a href="/products/outofstock">Out of Stock</a>
          </li>

          <li>
            <a href="/products/pricechanged">Price Changed</a>
          </li>
        </ul>
      </li>

      <li>
        <a
          href="#userSubmenu"
          data-toggle="collapse"
          aria-expanded="false"
          class="dropdown-toggle"
          >Users</a
        >
        <ul class="collapse list-unstyled" id="userSubmenu">
          <li>
            <a href="/register">Add New User</a>
          </li>

          <li>
            <a href="/users/all">View Users</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</div>
