<%- include("../partials/header") -%>

<div class="container mt-4">
  <%- include("../partials/message") -%>
    <div class="col-8">
      <h1>dashboard</h1>
    </div>
  <%- include("../partials/footer") -%>
</div>
