<%- include("../partials/header") -%>

<div class="container mt-4">
  <%- include("../partials/message") -%>
  <form action="/reset/<%= token %>" method="post">
    <h3>New Password</h3>
    <div class="form-group">
      <label class="form-label">Password</label>
      <input
        type="password"
        name="password"
        class="form-control"
        placeholder="Enter password"
      />
    </div>

    <button type="submit" class="btn-login">Confirm</button>
  </form>
  <%- include("../partials/footer") -%>
</div>
